.main-container
{
    width: auto;
    height: auto;
    position: absolute;
    display: flex;
    flex-direction: column;
}
.user-container
{
    background-color: var(--supporting-color);
    height: 45px;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    margin-top: 2px;
    cursor: pointer;

}
#profile-pic
{
    width: 35px;
    clip-path: circle();
}
#name
{
    padding-left: 10px;
    font-weight: bold;
}