.main-container
{
    width: 100%;
    height: auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    left: 0;
    top: var(--navigation-bar-height);
}
.user-container
{
    background-color: var(--supporting-color);
    display: flex;
    align-items: center;
    padding: 10px 15px;
    margin-top: 2px;
    cursor: pointer;

}
#profile-pic
{
    width: 35px;
    height: 35px;
    clip-path: circle();
    object-fit: cover;
}
#name
{
    padding-left: 10px;
    font-weight: bold;
    font-size: 0.9rem;
}