
.profile-opt-container
{
    position: fixed;
    right: 5px;
    top: 65px;
    height: auto;
    width: auto;
    background-color: var(--supporting-color);
    padding: 10px;
}

#opt-list
{
    flex-direction: column;
    height: auto;
}
.opt-item
{
    display: block;
    height: auto;
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--secondary-color);
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    font-size: 0.8rem;
}