
.profile-opt-container
{
    position: fixed;
    right: 5px;
    top: 65px;
    height: auto;
    width: auto;
    background-color: var(--supporting-color);
    padding: 5px;
}

#opt-list
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
}
.opt-item
{
    display: block;
    height: 25px;
    width: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--secondary-color);
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
}