.login-container
{
    width: 100%;
    height: 100vh;
    background: var(--supporting-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-container {
    height: 400px;
    width: 500px;
    background: var(--secondary-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.input-container input
{
    padding: 10px;
    margin: 5px;
    width: 250px;
    border: 1px solid black;
}
.input-container button
{
    padding: 10px;
    margin: 10px;
    margin-top: 20px;
    width: 270px;
    height: 50px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-transform: uppercase;
    border: none;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
.no-account-text
{
    font-size: 13px;
}
.no-account-text span
{
    cursor: pointer;
}
.no-account-text span:hover
{
    color: blue;
}