<div class="container">
    <div class="container-profile">
        <img src="{{post.User.profileUrl}}">
        <div class="name-container">
            <span id="name" (click)="nameClicked()">{{post.User.firstName + ' ' + post.User.lastName}}</span>
            <span id="time">{{post.createdAt | localDate}}</span>
        </div>
    </div>
    <div class="container-description">
        <p id="description">{{post.description}}</p>
        <image-grid [postImages]="post.PostImages"></image-grid>
    </div>
    <user-post-interaction [post]="post" (commentEmitter)="commentPosted($event)"></user-post-interaction>
</div>