<div class="container">
    <div class="container-profile">
        <img src="{{profileImage}}">
        <div class="name-container">
            <span id="name" (click)="nameClicked()">{{username}}</span>
            <span id="time">{{date | localDate}}</span>
        </div>
    </div>
    <div class="container-description">
        <div *ngIf="isEditable; else span">
            <textarea 
                id="textarea-description" 
                value="{{description}}" 
                [disabled]="!isEditable" 
                [(ngModel)]="description" 
                (change)="descriptionChanged()"
            ></textarea>
        </div>
        <ng-template #span>
            <p id="span-description">{{description}}</p>
        </ng-template>
        <image-grid 
            [postImages]="images"
            (onImageClick)="imageClick($event)"
        ></image-grid>
    </div>
    <user-post-interaction
        [postId]="postId" 
        [comments]="comments"
        [reactions]="reactions"
        (commentListner)="commentPosted($event)"
    ></user-post-interaction>
</div>