 .container 
 {
    width: auto;
    height: auto;
    margin-bottom: 20px;
    border-radius: 4px;
    width: inherit;
    padding: 20px;
}
   
.container-profile
{
    display: flex;
    width: inherit;
    height: auto;
}
 
.container-profile img 
{
    width: 40px;
    height: 40px;
    clip-path: circle();
    object-fit: cover;
}

#name 
{
    font-weight: bold;
}

#name:hover {
   cursor: pointer;
   text-decoration: underline;
}

.name-container {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: start;
    align-items: start;
    width: inherit;
    height: auto;
}

.container-description 
{
    width: 100%;
    height: auto;
    padding-top: 8px;
}
#time 
{
    color: #5e5757;
    font-size: 12px;
    margin-top: -2px;
}

#span-description
{
    font-size: 12px;
    font-weight: 500;
    height: auto;
    width: 100%;
    display: block;
    background-color: transparent;
    outline: none;
    border: none;
    word-wrap: break-word;
    font-weight: bold;
    width: 100%; max-width: 100%; box-sizing: border-box; overflow-wrap: break-word;
}
#textarea-description
{
    font-size: 12px;
    font-weight: bold;
    height: 100px;
    background-color: transparent;
    outline: none;
    border: none;
    height: auto;
    word-wrap: break-word;
} 