.create-post-container {
    width: auto;
    height: auto;
    border-radius: 5px;
    margin: 10px;
    display: flex;
    justify-content: center;
}
.first-row {
    height: auto;
    display: flex;
    align-items: center;
    margin: 10px;
}
.first-row img {
    width: 40px;
    clip-path: circle();
    z-index: -1;
}
.first-row input {
    padding: 10px 20px;
    outline: none;
    border: none;
    margin-left: 10px;
    width: 500px;
    height: 22px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-left: 2px solid #f1f1f1;
    border-top: 2px solid #f1f1f1;
    border-bottom: 2px solid #f1f1f1;
}
.first-row button {
    height: 42px;
    width: 70px;
    outline: none;
    border: none;
    background: rgb(233, 68, 68);
    padding: 0 15px;
    cursor: pointer;
    font-weight: bold;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
}