.create-post-container 
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.first-row 
{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 5px;    
    padding-bottom: 5px;  
    border-radius: 10px;
}
.first-row img 
{
    width: 35px;
    height: 35px;
    clip-path: circle();
    object-fit: cover;
}
#search-input 
{
    margin: 10px 10px;
    outline: none;
    border: none;
    display: block;
    height: 22px;
    font-weight: bold;
    width: 100%;
    background-color: transparent;
    font-size: 15px;
}