<div class="request-container">
   <div class="first-line">
      <img src="{{friend.requestedUser.profileUrl}}">
      <div class="name-container">
         <span>{{friend.requestedUser.firstName}}</span>
         <span>{{friend.requestedUser.lastName}}</span>
         <span id="requested-time">{{friend.createdAt | localDate}}</span>
      </div>
   </div>
   <div class="flex-box-centered">
      <img class="frd-action" src="assets/images/accept.png" (click)="acceptRequest(friend.requestedUser.id)"> 
      <img class="frd-action" src="assets/images/remove.png" (click)="denyRequest(friend.requestedUser.id)"> 
   </div>
</div>
