.request-container 
{
    width: auto;
    height: auto;
    background-color: var(--secondary-color);
    border-radius: 6px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.first-line {
    display: flex;
    align-items: center;
}
.first-line img {
    width: 40px;
    height: 40px;
    margin: 8px;
    object-fit: cover;
    clip-path: circle();
}
.first-line span {
    text-transform: capitalize;
    font-size: 14px;
}
.name-container {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}
.frd-action {
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-left: 10px;
}
.frd-action:nth-child(1) {
    margin-left: 20px;
}
.mutual-text {
    color: rgb(138, 133, 133);
}
.action
{
    display: flex;
    align-items: center;
    justify-content: center;
}
#requested-time
{
    font-size: 11px;
    color: #5e5757;
}

.name-container span
{
    font-weight: bold;
}