.interction-btn-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 0;
}
.interction-btn-container img {
    width: 20px;
    cursor: pointer;
}
.comment-section
{
    width: auto;
    height: auto;
    flex-direction: row;
    position: relative;
    margin-bottom: 10px;
}
.comment-section input
{
    width: 100%;
    height: auto;
    border: 2px solid var(--secondary-color);
    background-color: var(--secondary-color);
    padding: 10px 20px;
    padding-right: 40px;
    outline: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.8rem;
}
.comment-section img
{
    position: absolute;
    right: 2%;
    height: 20px;
    cursor: pointer;
}
.comments
{
    width: auto;
    display: flex;
    flex-direction: column;
    padding-top: 0;
    position: relative;
}
.comment img
{
    width: 30px;
    height: 30px;
    object-fit: cover;
    clip-path: circle();
    margin-right: 10px;
}
.comment-text 
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.comment
{
    display: flex;
    align-items: start;
    justify-content: start;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid var(--secondary-color);
}
#comment-text
{
    font-size: 0.75rem;
    word-wrap: break-word
}
#comments-text
{
    float: right;
    padding: 10px 0;
    font-size: 0.7rem;
    font-weight: 500;
}

#comment-time
{
    margin-left: 5px;
    font-size: 0.75rem;
}
#likescount
{
    font-weight: 500;
    font-size: 0.85rem;
    padding-right: 5px;
    border-right: 1px solid black;
    margin-right: 5px;
}