<div class="main-container">
    <div class="profile-details">
      <img id="cover-image" src="assets/images/cover-image.jpg">
        <img id="profile-pic" src="{{user.profileUrl}}">
        <div class="profile-texts">
          <div class="name-container">
            <span id="first-name">{{user.firstName}}</span>
            <span id="last-name">{{user.lastName}}</span>
          </div>
          <button id="add-frnd-btn" (click)="performBtnClick()">{{friendActionBtnStatus[friendActionBtnStatusIndex]}}</button>
        </div>
    </div>
    <div *ngFor="let post of posts" class="posts">
        <user-post [post]="post"></user-post>
    </div>
</div>
