<div class="timeline-main-container">
   <div class="timeline-content">
        <div class="post-create-container">
            <create-post></create-post>
        </div>
        <friend-request></friend-request>
        <div class="all-post-container">
            <user-post class="post-container" *ngFor="let post of posts"
                [postId]="post.id"
                [userId]="post.user.id"
                [username]="post.user.firstName + ' ' + post.user.lastName"
                [date]="post.createdAt"
                [profileImage]="post.user.profileUrl"
                [images]="post.postImages"
                [description]="post.description"
                [reactions]="post.reactions"
                [isCommentable]="true"
                [comments]="post.comments"
                (onNameClick)="nameClicked($event)"
                (onComment)="commented($event)"
            ></user-post>
        </div>
   </div>
</div>
