.timeline-main-container
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.timeline-content
{
    width: 35%;
    height: auto;
}
.post-create-container
{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}
.all-post-container
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.post-container
{
    width: 100%;
    height: auto;
}

@media screen and (width > 1400px) 
{
    .timeline-content
    {
        width: 35%;
    }
}

@media screen and (width < 1400px) 
{
    .timeline-content
    {
        width: 45%;
    }
}

@media screen and (width < 1000px) 
{
    .timeline-content
    {
        width: 65%;
    }
}

@media screen and (width < 600px) 
{
    .timeline-content
    {
        width: 90%;
    }
}