.main-container
{
    width: 100%;
    min-height: calc( 100vh - var(--navigation-bar-height));
}
.post-container
{

}
.posts-container-timeline
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;  
}
.suggestion-view
{
    display: flex;
    align-items: center;
    justify-content: center;
}