.suggestion-container
{
    background-color: var(--supporting-color);
    padding: 15px;
    border-radius: 5px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#heading
{
    background-color: var(--secondary-color); 
    color: rgb(26, 25, 25);
    padding: 5px 15px;
    border-radius: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--primary-color);
    font-weight: bold;
    font-size: 0.9rem;
}
.suggestion-item-container
{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (width >= 1000px) 
{
    .suggestion-container
    {
        width: 50vw;
    }    
}