.navigation 
{
    width: 100%;
    height: var(--navigation-bar-height);
    display: grid;
    grid-template-columns: 20% 60% 20%;
    position: fixed;
    top: 0;
    z-index: 1;
    align-items: center;
    margin: auto;
    padding: 0 10px;
}
.branding 
{
    cursor: pointer;
    padding-left: 30px;
}
.nav-list 
{
    
}
.profile 
{
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
    margin-right: 10px;
}
.profile img 
{
    width: 32px;
    height: 32px;
    cursor: pointer;
    margin-left: 18px;
    background-color: var(--primary-color);
    border-radius: 50%;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 4px;
}

.search-container button 
{
    height: 35px;
    outline: none;
    border: none;
    background: var(--secondary-color);
    padding: 0 15px;
    border-left: 2px solid var(--supporting-color);
    cursor: pointer;
    font-weight: bold;
}
.branding span 
{
    color: var(--primary-color);
    font-size: 16px;
    font-weight: bold;
}
.seperation
{
    height: 60px;
}

#branding-txt-last-part
{
    color: var(--secondary-color);
    font-weight: bolder;
    background-color: var(--primary-color);
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 2px;
}

.notification-container
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.notif-count
{
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: red;
    border-radius: 100%;
    width: 20px;
    height: 20px;
}
#notification-count
{
    color: var(--supporting-color);
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
}

.search-input-container
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-input-container input
{
    padding: 10px 10px;
    display: block;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--secondary-color);
    padding-left: 20px;
    font-weight: bold;
    border-radius: 3px;
}
#search-icon
{
    position: absolute;
    right: 12px;
    width: 20px;
}


@media screen and (width < 600px) 
{
    .branding
    {
        padding-left: 15px;
    }
    .branding span 
    {
        font-size: 12px;
    }
    .navigation
    {
        grid-template-columns: 20% 55% 25%;
    }
} 


@media screen and (width <= 400px) 
{
    .branding
    {
        padding-left: 15px;
    }
    .branding span 
    {
        font-size: 12px;
    }
    .navigation
    {
        grid-template-columns: 20% 54% 26%;
    }
}

@media screen and (width > 1000px)
{
    .branding
    {
        padding-left: 20px;
    }
    .branding span 
    {
        font-size: 20px;
    }
    .navigation
    {
        grid-template-columns: 20% 25% 55%;
    }
}