.navigation 
{
    width: 100%;
    height: var(--navigation-bar-height);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 1;
    box-shadow: -10px 2px 20px var(--secondary-color);
    background-color: var(--supporting-color);
}
.branding 
{
    width: 30%;
    cursor: pointer;
    padding-left: 30px;
}
.nav-list 
{
    width: 60%;
}
.profile 
{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 20px;
    position: relative;
}
.profile img 
{
    width: 30px;
    height: 30px;
    cursor: pointer;
    clip-path: circle();
    object-fit: cover;
    margin-left: 10px;
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
}
.search-container input 
{
    padding: 10px 10px;
    width: 60%;
    outline: none;
    border: none;
    background-color: var(--secondary-color);
    padding-left: 20px;
}
.search-container button 
{
    height: 35px;
    outline: none;
    border: none;
    background: var(--secondary-color);
    padding: 0 15px;
    border-left: 2px solid var(--supporting-color);
    cursor: pointer;
    font-weight: bold;
}
.branding span 
{
    color: var(--primary-color);
    font-size: 16px;
    font-weight: bold;
}
.seperation
{
    height: 60px;
}

@media screen and (width < 600px) 
{
    .branding 
    {
        width: 20%;
        padding:0;
    }
    .nav-list 
    {
        width: 65%;
    }
    .profile 
    {
        width: 15%;
        justify-content: end;
    }

    .search-container input 
    {
        width: 60%;
    }
    .branding span 
    {
        font-size: 10px;
        padding-left: 10px;
    }
}


@media screen and (width <= 400px) 
{
    .branding 
    {
        width: 20%;
        padding:0;
    }
    .nav-list 
    {
        width: 65%;
    }
    .profile 
    {
        width: 15%;
        justify-content: start;
    }

    .search-container input 
    {
        width: 55%;
    }
    .branding span 
    {
        font-size: 10px;
        padding-left: 5px;
    }
}

@media screen and (width > 1000px)
{
    .branding 
    {
        width: 20%;
        padding:0;
    }
    .nav-list 
    {
        width: 35%;
    }
    .profile 
    {
        width: 45%;
        justify-content: end;
    }
    .branding span 
    {
        font-size: 20px;
        padding-left: 20px;
    }
}