<div class="navigation">
    <div class="branding" (click)="navigateHome()">
        <span>SOCIAL <span id="branding-txt-last-part">MEDIA</span></span>
    </div>
    <div class="nav-list">
        <div class="search-container">
            <input type="text" placeholder="Search Profile.." [(ngModel)]="searchText" (keydown)="search()">
            <button (click)="search()">Search</button>
            <profile-search [users]="searchUsers" (select)="viewProfile($event)"></profile-search>
        </div>
    </div>
    <div class="profile">
        <img src="assets/images/notifications.png" appClickEvent [currentState]="isNotificationOpen" (changeListner)="notificationClick($event)">
        <img id="profile-option-icon" src="{{currentUser.profileUrl}}" appClickEvent [currentState]="isProfileOptionOpen" (changeListner)="profileClick($event)">
    </div>
</div>
<div class="seperation"></div>
<notification
    [isOpen]="isNotificationOpen"
    [notifications]="notifications"
></notification>

<app-profile-options
    [isActive]="isProfileOptionOpen"
    (logoutEmitter)="logout()"
    (viewUserProfileEmitter)="viewCurrentUserProfile()"
></app-profile-options>
