.main-container {
    height: 100%;
    width: 100%;
    display: flex;
}
.navigation {
    width: 100%;
    height: 60px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 5;
}
.branding {
    width: 20%;
    cursor: pointer;
}
.nav-list {
    width: 70%;
}
.profile {
    width: 10%;
    display: flex;
    flex-direction: row-reverse;
    padding: 20px;
}
.profile img {
    width: 35px;
    height: 35px;
    cursor: pointer;
    clip-path: circle();
    object-fit: cover;
    margin-left: 10px;
}
.search-container input {
    padding: 10px 10px;
    width: 30%;
    outline: none;
    border: none;
}
.search-container button {
    height: 35px;
    outline: none;
    border: none;
    background: var(--supporting-color);
    padding: 0 15px;
    border-left: 2px solid var(--secondary-color);
    cursor: pointer;
    font-weight: bold;
}
.branding span {
    padding-left: 30px;
    color: var(--secondary-color);
    font-size: 20px;
    font-weight: bold;
}
.seperation
{
    height: 60px;
}