:root
{
    --primary-color: black;
    --secondary-color: #f1f1f1;
    --supporting-color: white;
}


* {
    padding: 0;
    margin: 0;
}

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--secondary-color);
 }
 .dialog-style {
    mat-dialog-container {
        padding: 0;
    }
}
