:root
{
    /* colors */
    --primary-color: rgb(29, 27, 27);
    --secondary-color: rgb(240, 241, 242);
    --supporting-color: #fff;

    /* navigation */
    --navigation-bar-height: calc(100vh * 7/100);
    --navigation-bar-free-space: calc(100vh - var(--navigation-bar-height));
}


* {
    padding: 0;
    margin: 0;
    transition: all 0.1s ease-out;
    font-family: sans-serif;
    box-sizing: border-box;
}

html, body 
{ 
    height: 100%;
}
body 
{ 
    margin: 0; 
    background-color: var(--secondary-color);
}

/* Container Setup */
.shaped-container
{
    background-color: var(--supporting-color);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .12);
}

/* Set relative font sizing for all elements*/
html
{ 
    font-size: 16px;
}

.flex-box-centered
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.link:hover
{
    cursor: pointer;
    text-decoration: underline;
}


@media screen and (width <= 1000px)
{
    html{
        font-size: 14px;
    }
}

@media screen and (width <= 600px)
{
    html{
        font-size: 12px;
    }
}

@media screen and (width <= 500px)
{
    html{
        font-size: 11px;
    }
}

@media screen and (width <= 400px)
{
    html{
        font-size: 10px;
    }
}

@media screen and (width <= 350px)
{
    html{
        font-size: 8px;
    }
}
