.main-container
{
    height:auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-container
{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(10, 1fr) ;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 5px;
    column-gap: 5px;
}
.image-background
{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    cursor: pointer;
}


/* 1 Grid Item */
.image-list-size-1 .image-background
{
    grid-column: span 10;
    grid-row: span 2;
}

/* 2 Grid Item */
.image-list-size-2 .image-background
{
    grid-column: span 5;
    grid-row: span 2;
}

/* 3 Grid Item */
.image-list-size-3 .image-background:first-child
{
    grid-column: span 3;
    grid-row: span 2;
}

.image-list-size-3 .image-background:nth-child(2)
{
    grid-column: span 4;
    grid-row: span 2;
}

.image-list-size-3 .image-background:last-child
{
    grid-column: span 3;
    grid-row: span 2;
}


/* 4 Grid Item */
.image-list-size-4 .image-background:nth-child(1), 
.image-list-size-4 .image-background:nth-child(4)
{
    grid-column: span 5;
}

.image-list-size-4 .image-background:nth-child(2), 
.image-list-size-4 .image-background:nth-child(3)
{
    grid-column: span 5;
}

/* 5 Grid Item */
.image-list-size-5 .image-background:nth-child(1), 
.image-list-size-5 .image-background:nth-child(3)
{
    grid-column: span 3;
}

.image-list-size-5 .image-background:nth-child(2)
{
    grid-column: span 4;
}

.image-list-size-5 .image-background:nth-child(5), 
.image-list-size-5 .image-background:nth-child(4)
{
    grid-column: span 5;
}

/* 6 Grid Item */
.image-list-size-6 .image-background:nth-child(1), 
.image-list-size-6 .image-background:nth-child(3), 
.image-list-size-6 .image-background:nth-child(4), 
.image-list-size-6 .image-background:nth-child(6)
{
    grid-column: span 3;
}
.image-list-size-6 .image-background:nth-child(2), 
.image-list-size-6 .image-background:nth-child(5)
{
    grid-column: span 4;
}