<user-post
    [postId]="post.id"
    [userId]="post.User.id"
    [username]="post.User.firstName + ' ' + post.User.lastName"
    [date]="post.createdAt"
    [profileImage]="post.User.profileUrl"
    [images]="post.PostImages"
    [description]="post.description"
    [reactions]="post.Reactions"
    [comments]="post.Comments"
    [isEditable]="true"
    (onImageClick)="imageClicked($event)"
    (onDescriptionChange)="onDescriptionChange($event)"
></user-post>
<input type="file" placeholder="Pick an image" (change)="imageSelected($event)">
<button (click)="createPost()">Publish</button>
