<div class="create-post-cont">
    <div class="post-wrapper">
        <user-post
        [postId]="post.id"
        [userId]="post.user.id"
        [username]="post.user.firstName + ' ' + post.user.lastName"
        [date]="post.createdAt"
        [profileImage]="post.user.profileUrl"
        [images]="post.postImages"
        [description]="post.description"
        [reactions]="post.reactions"
        [comments]="post.comments"
        [isEditable]="true"
        [isInteractable]="false"
        [isCommentable]="false"
        (onImageClick)="imageClicked($event)"
        (onDescriptionChange)="onDescriptionChange($event)"
></user-post>
    </div>
<div class="create-post-act-btns flex-box-centered">
    <label class="flex-box-centered">
       <img src="assets/images/add_icon.png" class="add-image">
       <input type="file" placeholder="Pick an image" (change)="imageSelected($event)">
    </label>
    <button id="publish-btn" (click)="createPost()">Post</button>
</div>
</div>
