
.active-container 
{
    width: 15%;
    height: 100vh;
    border-left: 1px solid var(--supporting-color);
    position: fixed;
    right: 0;
}
.post-container {
    width: 100%;
    height: 100vh;
}
.suggestion-container {
    width: 15%;
    height: 100vh;
    position: fixed;
}
.timeline-post-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.suggestion-view
{
    width: 100%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}