.notification-container 
{
  width: auto;
  height: auto;
  position: fixed;
  top: 65px;
  right: 0;
  background-color: var(--supporting-color);
  z-index: 200;
  padding: 20px;
  overflow: none;
}
.notification-item 
{
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  height: auto;
  align-items: center;
  border-bottom: 1px solid var(--secondary-color);
}
#notif-name 
{
  font-weight: bold;
  padding-right: 5px;
  font-size: 13px;
  display: block;
}
#notif-type 
{
    padding-right: 5px;
}
#notif-your
{
    padding-right: 5px;
}
#notif-target-type
{
    text-transform: lowercase;
    font-weight: 500;
    cursor: pointer;
}
#notifi-user-image {
  width: 40px;
  height: 40px;
  clip-path: circle();
  object-fit: cover;
  margin-right: 10px;
}
#notif-heading
{
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--secondary-color);
}
#notif-datetme
{
  position: absolute;
  right: 0;
  top: 0;
  font-size: 11px;
  font-weight: 500;
  color: var(--primary-color);
}